@font-face {
    font-family: 'Friem-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Friem Regular'), url('friem-regular.woff') format('woff');
}
@font-face {
    font-family: 'MapoBackpacking-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoBackpackingA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css");

@font-face {
    font-family: 'SokchoBadaDotum';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@media screen and (max-width: 430px) {
   
}

body {
    width: 100%;
    max-width: 100vw; /* 화면 너비를 넘지 않도록 설정 */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FFF8EF;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}




.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.uppart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 10vh;
}






.backbt {
    
    position: relative;
    left: 31px;

    
}


.logo-container {
    
    display: flex;
    justify-content: center;
    width: 100%;
    
}




.menu-container {
    margin-top: 25px;
    margin-right: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.container {
    justify-content: center;
    align-items: center;
    left: 29px;
    position: relative;
    width: 80px; /* Adjust based on your logo size */
    height: 30px; /* Adjust based on your logo size */
}

.letter {
    position: absolute;
    font-size: 25px;
    font-family: Friem, sans-serif;
    font-weight: 400;
}


.diary-title {
    
    font-family: 'SokchoBadaDotum';
    color: var(--Green, #229C5A);
    font-size: 25px;
    font-style: normal;
    
    line-height: normal;
    letter-spacing: 1px;

    padding-top: 100px;
    
    padding-left: 25px;
    width: 100%;
}

.title-main {
    color: #229C5A;
    font-size: 25px;
    
}

.title-sub {
    color: black;
    font-size: 15px;
   
    
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1px;
}

.diarypart {
    display: flex;
    width: 350px;
    height: 228px;  
    flex-shrink: 0;
    border-radius: 10px;
    background: #E2E2E2;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.10);
    margin: 0 ;
}



.diarybt{
    width: 6.5px;
    height: 14px;
    flex-shrink: 0;

    padding: 5px;
    padding-top: 106px;
    margin-right: 0px;
}

.diarybbt{
    width: 6.5px;
    height: 14px;
    flex-shrink: 0;

    padding: 156px;
    padding-top: 106px;
    
}

.diaryline{
    width: 2px;
    height: 204px;
    flex-shrink: 0;
    
    background-color: #C2C2C2; /* color 대신 background-color 사용 */
   

    margin: 13px 13px; /* 위아래 여백 추가 */
    
    margin-left: 160px;
    
    margin-right: 0px;
    
    }

    .notice-container {
        width: 100%;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 0px;
    }
    
  .star-notice {
    text-align: center;
    color: black;
    font-size: 11px;
    font-family: 'SUIT-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.33px;
    
    
  }
/* 팔레트 뜨게 하는거*/
.palletecont
{
    width: 100%;
    
    margin-top: 526px;
    position: absolute;
    
    justify-content: center;
    display: none;
    
    
}

#palette span {
    cursor: pointer;
    
    display: inline-block;
    
    width: 48px;
    height: 48px;
    border-radius: 50%;
    
    margin-top: 40px;
}

.strokecont {
    width: 100%;
    
    flex-direction: row; /* 명시적으로 가로 방향 설정 */
    margin-top: 526px;
    display: none;
    position: absolute;
    gap: 10px; /* SVG 요소 사이의 간격 설정 */
    justify-content: center;
  }
.strokecont svg{
    cursor: pointer;
}









  .downpart {
    margin-top: -40px;
    width: 100%;
    position: relative;
    height: 40px;
  }
  
  .downline {
    width: 100%;
    height: 1px;
    background-color: #C2C2C2;
    position: absolute;
    
    
  }
  .downpart svg {
    position: absolute;
    transform: translateY(-50%);
  }
  
  .downpart svg:nth-child(2) { top: 25px;left: 27px; cursor: pointer;}
  .downpart svg:nth-child(4) { top: 25px;left: 81px; cursor: pointer;}
  .downpart svg:nth-child(6) { top: 25px;left: 143px; cursor: pointer; }
  .downpart svg:nth-child(8) { top: 25px;left: 204px; cursor: pointer;}
  .downpart svg:nth-child(10) { top: 25px;left: 267px; cursor: pointer; }
  
  .gline {
    position: absolute;
    width: 1px;
    height: 31.376px;
    background-color: #C2C2C2;
    top: 25px;
    transform: translateY(-50%);
  }
  
  .gline-1 { left: 61px; }
  .gline-2 { left: 122px; }
  .gline-3 { left: 184px; }
  .gline-4 { left: 247px; }





  .textin {
    background-color: #FFF8EF;; /* 배경색을 설정하세요 */
    color: #000000; /* 텍스트 색상과 동일하게 배경색을 설정 */
    border: none; /* 테두리 없앰 */
    padding: 5px 10px; /* 입력 필드의 내외부 여백을 설정 */
    font-size: 16px; /* 글꼴 크기 설정 */
    outline: none; /* 포커스 시 나타나는 기본 외곽선을 제거 */
}

